html, body {
  margin:0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.5em;
  color: #333F50;
}


::-moz-selection {
   background-color: #3083ff;
   color: #fff;
}
::selection {
    background-color: #3083ff;
    color: #fff;
}

ul {
  list-style: none;
  padding:0;
  margin:0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  position:relative;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
}

.container .inner-wrap {
  box-sizing: border-box;
  padding: 0 30px;
}

main {
  position: fixed;
  width: 100%;
  height: 100%;
}

main p {
  color: #333F50;
  margin:0;
}

main p.yi-name {
  font-size: 1em;
  line-height: 0.6em;
  padding-top:20vh;
  padding-bottom: 40px;
}

main p.yi-description {
  font-size: 0.8em;
  line-height: 1.6em;
  padding-bottom:10px;
}

}


@media all and (max-width : 745px) {

}
